{% block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static "style/login.css" %}">

</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form"method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username"/>
        <input type="password" name="password" placeholder="password"/>
        <button>login</button>
        <p class="message">Not registered? <a href="{% url "Register_view" %}">Create an account</a></p>
      </form>
    </div>
  </div>
  
  
</body>
</html>
{%endblock%}